<%- include('header'); -%>
<link rel="stylesheet" href="Sign_up.css">
<div class="signup">
	<div class="signup-connect">
	  <h1>Login via</h1>
	  <a href="/auth/google" class="btn btn-social btn-google"><i class="fa fa-google"></i> Sign in with Google</a>	</div>
	<div class="signup-classic">
	  <h2>Or use the classical way</h2>
	  <form class="form" action="/login" method="POST">
				<fieldset class="email">
		  <input type="email" placeholder="email" class="form-control" name="username" />
		</fieldset>
		<fieldset class="password">
		  <input type="password" placeholder="password" class="form-control" name="password"/>
		</fieldset>
		<button type="submit" class="btn">Login</button>
	  </form>
	</div>
  </div>



