<html>
<body>
<head>
<link rel="stylesheet" href="Sign_up.css">
</head>
<body>
	<%- include('header'); -%>

<div class="signup">
	<div class="signup-connect">
	  <h1>Create your account</h1>
	  <a href="/auth/google" class="btn btn-social btn-google"><i class="fa fa-google"></i> Sign in with Google</a>
	</div>
	<div class="signup-classic">
	  <h2>Or use the classical way</h2>
	  <form class="form" action="/login" method="POST">
		<fieldset class="email">
		  <input type="email" placeholder="Email" class="form-control" name="username"/>
		</fieldset>
		<fieldset class="password">
		  <input type="password" placeholder="Password" class="form-control" name="password" />
		</fieldset>
		<button type="submit" class="btn">Sign up</button>
	  </form>
	</div>
  </div>	
 
</body>
</html>

